/* Scrollbar */
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgba(245, 245, 245, 0.4);
}
::-webkit-scrollbar-thumb {
    background: rgba(190, 190, 190, 0.4);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(170, 170, 170, 0.4);
}

body {
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: overlay;
}

.HeaderHeight {
    user-select: none;
    height: 50px;
    line-height: 50px;
}

.FileEntryName {
    text-align: left;
    flex: auto;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    width: 1000px;
}

.FileEntrySize {
    text-align: center;
    flex: 0 1 auto;
    padding-left: 5px;
}

.FileEntryDelete {
    flex: 0 0 30px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}


CenteredItems {
}
@media only screen and (max-width: 1500px) {
    .CenteredItems {
        width: 90% !important;
        margin-left: 5% !important;
    }
}
@media only screen and (min-width: 1500px) {
    .CenteredItems {
        width: 1350px !important;
        margin-left: calc(50% - 675px); !important;
    }
}


.IconHeight {
    user-select: none;
    height: 60px;
    line-height: 50px;
}


/* all categories dropdown - start */
.allcategories_dropdown {
    position: absolute;
    top: 0;
    width: 300px;
}
@media (max-width: 1199px) {
    .allcategories_dropdown {
        width: 250px;
    }
}
.allcategories_dropdown .card-body {
    padding: 0;
    border: none;
    border: 1px solid #d8e1e685;
    border-radius: 0;
}

.allcategories_btn {
    width: 100%;
    background: #d8e1e6;
    display: block;
    color: #252525;
    line-height: 2em;
    font-size: 16px;
    padding: 12px 25px;
    text-align: left;
    font-weight: 500;
    border-radius: 0;
}
.allcategories_btn svg, .allcategories_btn i {
    margin-right: 5px;
}

.allcategories_collapse {
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 99;
    min-width: 280px;
    position: absolute;
    -webkit-box-shadow: 0 4px 10px 0 rgba(147, 159, 197, 0.16);
    box-shadow: 0 4px 10px 0 rgba(147, 159, 197, 0.16);
}
@media (max-width: 1199px) {
    .allcategories_collapse {
        min-width: 250px;
    }
}

.allcategories_list {
    padding: 0 20px;
}
.allcategories_list > li:not(:last-child) {
    border-bottom: 1px solid #ededed;
}
.allcategories_list > li:hover > a {
    color: #f02757;
}
.allcategories_list > li:hover > a i {
    color: #f02757;
}
.allcategories_list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #252525;
}
.allcategories_list a i {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    margin-right: 10px;
    text-align: center;
    -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.allcategories_list > .has_child > a {
    position: relative;
}
.allcategories_list > .has_child > a:after {
    top: 50%;
    right: 30px;
    content: "";
    font-weight: 700;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Pro";
}

.allcategories_collapse2 {
    left: 0;
    z-index: 99;
    min-width: 300px;
    position: absolute;
    border: 1px solid #d7e1e6;
}
.allcategories_collapse2:not(.show) {
    display: block;
}
.allcategories_collapse2 .card {
    background-color: #fafafa;
}
.allcategories_collapse2 .allcategories_list {
    padding: 21px 0;
}
.allcategories_collapse2 .allcategories_list > li {
    border: none;
}
.allcategories_collapse2 .allcategories_list > li:hover > a {
    color: #e23e1d;
    background-color: #f4f4f4;
}
.allcategories_collapse2 .allcategories_list a {
    display: block;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 35px;
    color: #252525;
}
.allcategories_collapse2 .dropdown {
    position: relative;
}
.allcategories_collapse2 .dropdown-toggle:after {
    float: right;
    border: none;
    content: "";
    font-weight: 400;
    margin-left: 10px;
    vertical-align: middle;
    font-family: "Font Awesome 5 Pro";
}
.allcategories_collapse2 .dropdown-menu {
    border: none;
    padding: 20px 0;
    border-radius: 0;
    position: static !important;
    -webkit-transform: unset !important;
    transform: unset !important;
}
.allcategories_collapse2 .dropdown-menu li:hover a {
    color: #e23e1d;
    background-color: rgba(199, 161, 122, 0.04);
}

@media screen and (min-width: 1025px) {
    .allcategories_collapse2 .dropdown-menu {
        top: 0;
        left: 100%;
        position: absolute !important;
        -webkit-box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
    }
    .allcategories_collapse2 .dropdown-menu.show {
        left: 100% !important;
    }
    .allcategories_collapse2 .dropdown:hover .dropdown-menu {
        display: block;
        -webkit-animation: 0.3s ease-in-out 0s normal none 1 running fadeInUp;
        animation: 0.3s ease-in-out 0s normal none 1 running fadeInUp;
    }
}
/* all categories dropdown - end */

.ul_li_block {
    margin: 0px;
    padding: 0px;
    display: block;
}
.ul_li_block > li {
    display: block;
    list-style: none;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.container .row {
    margin-left: -15px;
    margin-right: -15px;
}
.container .col {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    padding-left: 15px;
    padding-right: 15px;
}


.btn {
    outline: none;
    color: #ffffff;
    font-size: 54px;
    font-weight: 600;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 33px 7px;
    -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:hover {
    color: #ffffff;
}
.btn.btn_primary {
    border-color: #f02757;
    background-color: #f02757;
    color: #ffffff;
}
.btn.btn_primary:hover {
    color: #f02757;
    background-color: transparent;
}
.btn.btn_secondary {
    border-color: #051d43;
    background-color: #051d43;
}
.btn.btn_secondary:hover {
    color: #051d43;
    background-color: transparent;
}
.btn.btn_danger {
    border-color: #e23e1d;
    background-color: #e23e1d;
}
.btn.btn_danger:hover {
    color: #e23e1d;
    background-color: transparent;
}
.btn.btn_dark {
    border-color: #252525;
    background-color: #252525;
}
.btn.btn_dark:hover {
    color: #252525;
    background-color: transparent;
}
.btn.btn_gray {
    color: #252525;
    border-color: #f4f4f4;
    background-color: #f4f4f4;
}
.btn.btn_gray:hover {
    color: #ffffff;
    border-color: #f02757;
    background-color: #f02757;
}
.btn.border_primary {
    color: #636363;
    border-color: #f02757;
}
.btn.border_primary:hover {
    color: #ffffff;
    background-color: #f02757;
}
.btn.border_white {
    color: #ffffff;
    border-color: #ffffff;
}
.btn.border_white:hover {
    color: #e23e1d;
    background-color: #ffffff;
}
.btn.border_black {
    color: #252525;
    border-color: #252525;
}
.btn.border_black:hover {
    color: #ffffff;
    background-color: #252525;
}